:root{
    --black: #222327;
    --white: #ffffff;
    --grey: #ccc;
    --primary: #4CC9F0;
    --secondary:#7209B7;
    --tertiary: #4361EE;
    --accent1: #F72585;
    --accent2: #B5179E;
    --text: #3A0CA3;

}